body {
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    margin: 0 auto;
    border-radius: 5px;
    padding-bottom: 5px;
    -webkit-box-shadow: 0 3px 20px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 3px 20px 2px rgba(0,0,0,0.75);
    box-shadow: 0 3px 20px 2px rgba(0,0,0,0.75);
    background: url(http://eskipaper.com/images/green-wallpaper-18.jpg) top center fixed no-repeat;    /* image */

}
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item {
    background: rgba(255, 99, 71, 0.75);
    width: 96px;
    height: 96px;
    margin-top: 6px;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
.flex-item img {
    visibility: hidden;
    border-radius: 5px;
}

h1, h2{
    margin: 0;
    padding: 20px 0; 
    text-align: center;
}
h2 {
    color: #ffffff;
}

.score-wrapper {
    color:#07889B;
    font-size: 1em;
    font-weight: 15px;
    margin: 20px 20%;
    display: flex;
    justify-content: space-around;
}

.btn button {
    display: block;
    margin: 30px auto;
    width: 100px;
    color: #fff;
    background-color: #2297FB;
    border-radius: 5px;
    border: none;
    line-height: 3em;
}
.btn button:hover {
    background-color: #0075DA;
    cursor: pointer;
}

/*loader*/
.overlay-loader {
    display: none;
    margin: auto;
    width: 113px;
    height: 113px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 113px;
    height: 113px;
    animation-name: rotateAnim;
        -o-animation-name: rotateAnim;
        -ms-animation-name: rotateAnim;
        -webkit-animation-name: rotateAnim;
        -moz-animation-name: rotateAnim;
    animation-duration: 0.88s;
        -o-animation-duration: 0.88s;
        -ms-animation-duration: 0.88s;
        -webkit-animation-duration: 0.88s;
        -moz-animation-duration: 0.88s;
    animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        -ms-animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
    animation-timing-function: linear;
        -o-animation-timing-function: linear;
        -ms-animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
}
.loader div {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 1px solid rgba(12,177,237,0.98);
    position: absolute;
    top: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.loader div:nth-child(odd) {
    border-top: none;
    border-left: none;
}
.loader div:nth-child(even) {
    border-bottom: none;
    border-right: none;
}
.loader div:nth-child(2) {
    border-width: 2px;
    left: 0px;
    top: -5px;
    width: 14px;
    height: 14px;
}
.loader div:nth-child(3) {
    border-width: 2px;
    left: -1px;
    top: 3px;
    width: 20px;
    height: 20px;
}
.loader div:nth-child(4) {
    border-width: 3px;
    left: -1px;
    top: -5px;
    width: 27px;
    height: 27px;
}
.loader div:nth-child(5) {
    border-width: 3px;
    left: -1px;
    top: 5px;
    width: 36px;
    height: 36px;
}
.loader div:nth-child(6) {
    border-width: 5px;
    left: 0px;
    top: -5px;
    width: 45px;
    height: 45px;
}
.loader div:nth-child(7) {
    border-width: 5px;
    left: 0px;
    top: 7px;
    width: 56px;
    height: 56px;
}


@keyframes rotateAnim {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@-o-keyframes rotateAnim {
    from {
        -o-transform: rotate(360deg);
    }
    to {
        -o-transform: rotate(0deg);
    }
}

@-ms-keyframes rotateAnim {
    from {
        -ms-transform: rotate(360deg);
    }
    to {
        -ms-transform: rotate(0deg);
    }
}

@-webkit-keyframes rotateAnim {
    from {
        -webkit-transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes rotateAnim {
    from {
        -moz-transform: rotate(360deg);
    }
    to {
        -moz-transform: rotate(0deg);
    }
}